@model PlayDate_App.Models.Event

@{
    ViewData["Title"] = "Index";
}


<h1>List of Events</h1>

<p>
    <a asp-action="Create">Create New Event</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Location)
            </td>
            <td>
                <a asp-action="Edit">Edit</a> |
                <a asp-action="Details">Details</a> |
                <a asp-action="Delete">Delete</a>
            </td>

        </tr>
    </tbody>
</table>

